@model project_cbryce996.Models.Asset;

@using(Html.BeginForm("AddAsset", "Manage", FormMethod.Post))
{
<div class="content">
    <div class="container">
        <div class="row">            
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <div class="card-header">
                            <h5 class="mb-0"> Add Asset </h5>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 mb-2">
                                <div class="col-md-6 form-group">
                                    @Html.LabelFor(m => m.BiosName, "Bios Name", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.BiosName, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.BiosName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.BiosVersion, "Bios Version", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.BiosVersion, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.BiosVersion, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.BiosVendor, "Bios Vendor", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.BiosVendor, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.BiosVendor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 mb-2">
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.MbName, "Motherboard Name", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.MbName, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.MbName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.MbVersion, "Motherboard Version", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.MbVersion, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.MbVersion, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.MbVendor, "Motherboard Vendor", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.MbVendor, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.MbVendor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 mb-2">
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.CpuName, "Cpu Name", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.CpuName, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.CpuName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.CpuVendor, "Cpu Vendor", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.CpuVendor, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.CpuVendor, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.CpuModel, "Cpu Model", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.CpuModel, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.CpuModel, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.CpuArch, "Cpu Architecture", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.CpuArch, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.CpuArch, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 mb-2">
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.GpuName, "Gpu Name", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.GpuName, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.GpuName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.GpuVendor, "Gpu Vendor", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.GpuVendor, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.GpuVendor, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.GpuType, "Gpu Type", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.GpuType, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.GpuType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 mb-2">
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.SystemName, "System Name", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.SystemName, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.SystemName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.Ip, "Ip Address", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.Ip, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.Ip, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.Os, "Operating System", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.Os, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.Os, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a class="btn btn-md btn-secondary" type="submit" value="Submit" asp-area="" asp-controller="Manage" asp-action="SystemInfo"><i class="fas fa-sm fa-plus"></i><span class="ms-2">Add System Info</span></a>
                            <div class="float-end">
                                <button class="btn btn-md btn-primary" type="submit" value="Submit"><i class="fas fa-sm fa-plus"></i><span class="ms-2">Add Asset</span></button>
                                <a class="btn btn-md btn-secondary" asp-area="" asp-controller="Manage" asp-action="Index"><i class="fas fa-sm fa-ban"></i><span class="ms-2">Cancel</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}