@model IEnumerable<project_cbryce996.Models.Asset>;
@{
ViewData["Title"] = "Home Page";
}
<div class="content">
    <div class="container">
        <div class="row">            
            <div class="col-12 mt-3">
               <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"> Assets </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="btn btn-md btn-primary" asp-area="" asp-controller="Manage" asp-action="AddAsset"><i class="fas fa-sm fa-plus"></i><span class="ms-2">Add Asset</span></a>
                            <a class="btn btn-md btn-secondary" asp-area="" asp-controller="Manage" asp-action="Index"><i class="fas fa-sm fa-sync"></i></a>
                            <div class="btn-group" role="group">
                                <button href="roles.html" class="btn btn-md btn-secondary"><i class="fas fa-sm fa-pen"></i></button>
                                <button href="roles.html" class="btn btn-md btn-secondary"><i class="fas fa-sm fa-trash"></i></button>
                            </div>
                            <button href="roles.html" class="btn btn-md btn-secondary"><span class="me-2">More</span><i class="fas fa-sm fa-caret-down"></i></button>
                            <button href="roles.html" class="btn btn-md btn-secondary float-end"><span class="me-2">Filter by</span><i class="fas fa-sm fa-caret-down"></i></button>
                        </li>
                        <li class="list-group-item">
                            <table width="100%" class="table table-hover table" id="dataTables-example">
                                <thead class="" >
                                    <tr>
                                        <th>Operating System</th>
                                        <th>Bios Name</th>
                                        <th>Bios Version</th>
                                        <th>Bios Vendor</th>
                                        <th>Motherboard Name</th>
                                        <th>Motherboard Version</th>
                                        <th>Motherboard Vendor</th>
                                        <th>Cpu Name</th>
                                        <th>Cpu Vendor</th>
                                        <th>Cpu Model</th>
                                        <th>Cpu Architecture</th>
                                        <th>Gpu Name</th>
                                        <th>Gpu Vendor</th>
                                        <th>Gpu Type</th>
                                        <th>System Name</th>
                                        <th>Ip</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        @foreach (var asset in Model)
                                        { 
                                            <tr>
                                                <td>@asset.Os</td>
                                                <td>@asset.BiosName</td>
                                                <td>@asset.BiosVersion</td>
                                                <td>@asset.BiosVendor</td>
                                                <td>@asset.MbName</td>
                                                <td>@asset.MbVersion</td>
                                                <td>@asset.MbVendor</td>
                                                <td>@asset.CpuName</td>
                                                <td>@asset.CpuVendor</td>
                                                <td>@asset.CpuModel</td>
                                                <td>@asset.CpuArch</td>
                                                <td>@asset.GpuName</td>
                                                <td>@asset.GpuVendor</td>
                                                <td>@asset.GpuType</td>
                                                <td>@asset.SystemName</td>
                                                <td>@asset.Ip</td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>