@model project_cbryce996.Models.Asset;

@using(Html.BeginForm("AddAsset", "Home", FormMethod.Post))
{
<div class="content">
    <div class="container">
        <div class="row">            
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <div class="card-header">
                            <h5 class="mb-0"> Add Asset </h5>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 mb-2">
                                <div class="col-md-6 form-group">
                                    @Html.LabelFor(m => m.CName, "Computer Name", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.CName, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.CName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.CModel, "Computer Model", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.CModel, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.CModel, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.CManufacturer, "Computer Manufacturer", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.CManufacturer, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.CManufacturer, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.CType, "Computer Type", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.CType, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.CType, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.OSName, "OS Name", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.OSName, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.OSName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.OSVersion, "OS Version", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.OSVersion, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.OSVersion, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.OSArch, "OS Architecture", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.OSArch, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.CType, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.IPAddress, "Ip Address", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.IPAddress, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.IPAddress, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.MACAddress, "MAC Address", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.MACAddress, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.MACAddress, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.HardwareHash, "Hardware Hash", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.HardwareHash, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.HardwareHash, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a class="btn btn-md btn-secondary" type="submit" value="Submit" asp-area="" asp-controller="Home" asp-action="SystemInfo"><i class="fas fa-sm fa-plus"></i><span class="ms-2">Add System Info</span></a>
                            <div class="float-end">
                                <button class="btn btn-md btn-primary" type="submit" value="Submit"><i class="fas fa-sm fa-plus"></i><span class="ms-2">Add Asset</span></button>
                                <a class="btn btn-md btn-secondary" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-sm fa-ban"></i><span class="ms-2">Cancel</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}